@use '../../styles';

@layer components {
  .landing-page {
    h1 {
      letter-spacing: -1.5px;
      line-height: 40px;
    }

    &__images {
      .polaroid-image {
        background: {
          image: url("../../assets/images/polaroid-overlay.png");
          size: contain;
          repeat: no-repeat;
        };
      }

      &::before, &::after {
        @apply absolute h-[195px] top-[68px] w-[156px];
        background: {
          image: url("../../assets/images/polaroid-overlay.png");
          size: contain;
          repeat: no-repeat;
          position: center;
        };
        content: '';
      }

      &::after {
        right: -100px;
      }

      &::before {
        left: -100px;
      }
    }
  }
}
