@use './mixins';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/variants';

@import url('https://fonts.googleapis.com/css2?family=Arya:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arya:wght@400;700&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-menu-item-active {
  border-bottom: solid 1px black;
  padding: 0 4px 4px;
}

.ant-collapse {
  &-item {
   border: solid 1px lightslategray;
  }

  &-header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
  }

  &-content {
    border-top: solid 1px lightslategray;
    padding: 16px;
  }
}
